.mfooter-main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 17px;
        background-color: #091652;
        height: fit-content;

        margin-bottom: 20px;
        padding: 5px;
        border-radius: 50px;

        button {
            background-color: rgba(12, 39, 88, 0);
            border: none;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(233, 231, 231);
            border-radius: 50%;
            font-size: 16px;

            &:nth-child(1) {
                background-color: rgb(221, 220, 220);
                color: rgb(0, 0, 0);
            }

            &:nth-child(5) {
                background-color: rgb(221, 220, 220);
                color: rgb(0, 0, 0);
            }
        }
    }
}