@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: #000; /* Or any color you prefer, e.g., a dark grey or matching your PreLoader */
}

/* Optional: If A-Frame's canvas has a default background that peeks through */
.a-canvas {
  background-color: #000 !important; /* Use !important if necessary to override A-Frame defaults */
}

.a-loader-title{
    display: none !important;
}